  <div id="home" class="container-home home-bg">
    <div class="home-wrapper">
      <div class="title-container vertical-align">
        <div><img src="images/connectr-logo.png" class="logo-image"></div>
        <div><img src="images/connectr.png" class="logo-text-image"></div>
        <div class="text-slogan">the map to find your next travel advisor</div>
        <div ng-click="login()" data-wipe="Connect with Facebook">Connect with Facebook</div>
      </div>
      <div class="container-fb-like-btn">
        <div class="fb-like btn-block" data-href="https://connectr.tk" data-layout="standard" data-width="320" data-action="like" data-size="small" data-share="true"></div>
      </div>
    </div>
  </div>

  <div id="product" class="container-product product-bg">
    <h3 class="section-title">Where to go next?</h3>

    <div style="margin-top:10%; padding: 0 15px">
      <p class="section-words"><strong>Connectr</strong>, and view where your friends have been</p><br>
      <p class="section-words">Consult them on your travel plans</p>
      <br>
      <p class="section-words">Nothing beats the first-hand experience from the people you know</p>
    </div>
  </div>
  <div class="footer footer-black">
    ©2016 Connectr · <span><a href="#/privacy-policy"> Privacy Policy </a></span> · <span> <a href="#/terms-of-service">Terms of Service </a></span>
  </div>
