<video autoplay muted loop id="home-bg-video" poster="video/Snapshots/Airtaxi.jpg">
    <source src="video/Webm/Airtaxi.webm" type="video/webm">
    <source src="video/Mp4/Airtaxi.mp4" type="video/mp4">
</video>

<div class="title-container">
  <img src="images/connectr.png" height="80" alt="">
  <h3 class="text-slogan">Your map to find your next travel advisor</h3>
  <button class="btn btn-login btn-block btn-facebook centered" ng-click="login('facebook')">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </button>
</div>

<div class="footer">
  <div class="fb-like btn-block" data-href="http://connectr.tk" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
