<div id="map-wrapper">
    <mapbox-gl-map id="map"></mapbox-gl-map>
    <div id="facebook-share" class="share-buttons-group affix-top">
        <div id="facebook-button" class="share-button-banner" ng-click="shareFb()" tooltip-placement="left" uib-tooltip="Share on Facebook!">
            <div class="share-container">
                <span><i class="fa fa-facebook"></i></span>
            </div>
        </div>
    </div>

    <div id="map-control-play" class="share-buttons-group affix-top">
        <div id="map-control-play-button" class="share-button-banner" ng-click="walkThrough()" tooltip-placement="left" uib-tooltip="Take a trip back in time!">
            <div class="share-container">
                <span><i ng-class="playClassBinding.play"></i></span>
            </div>
        </div>
    </div>

    <div id="stats-section" class="share-buttons-group affix-top">
        <div id="stats-section-button" class="share-button-banner" ng-click="showStats()" tooltip-placement="left" uib-tooltip="Cool statistics!">
            <div class="share-container">
                <span><i class="fa fa-bar-chart"></i></span>
            </div>
        </div>
    </div>

    <div id="map-info-panel-area" ng-class="playClassBinding.display"><div id="map-info-panel">
        <span>
            <p><b>{{ displayPlaceName }}</b></p>
            <p>{{ displayCheckinTime }}</p>
        </span>
    </div></div>

    <div id="map-left-panel" ng-class="collapseClassBinding.collapse">
        <div id="user-profile">
            <div class="user-avatar" ng-style="{'background-image': 'url(' + currentUser.avatar + ')' }" ng-click="openFriendModal(currentUser)"></div>
            <div class="user-info">
                <div class="user-name">{{ currentUser.name }}</div>
                <!-- <div class="user-place pull-right"> {{ currentUser.total_checkins }} checkins</div> -->
                <hr>
                <div class="row icon-box">
                    <span id="map-onboarding" class="col-xs-3 tutorial-repeat glyphicon glyphicon-question-sign" ng-click="onboard1 = true" uib-tooltip="Help me"></span>
                    <span class="col-xs-3 user-visibility" ng-click="toggleFriend(currentUser)" uib-tooltip="Show/hide my points">
                        <i ng-class="currentUser.toggle"></i>
                    </span>
                    <span class="col-xs-3 profile-button glyphicon glyphicon-user" ng-click="openFriendModal(currentUser)" uib-tooltip="View profile"></span>
                    <span class="col-xs-3 logout-button glyphicon glyphicon-log-out" ng-click="logout()" uib-tooltip="Logout"></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row input-box">
            <div class="col-xs-12 search-box">
                <input type="text" class="form-control search-bar" placeholder="Friend Name Filter" ng-model="searchContent.name">
            </div>
        </div>
        <div id="friend-list">
            <div ng-repeat="friend in friends | filter: searchContent" class="row friend-entry" ng-class="friend.display">
                <div class="col-xs-3 friend-avatar" ng-style="{'background-image': 'url({{ friend.avatar }})' }" ng-click="openFriendModal(friend)" uib-tooltip="View profile"></div>
                <div class="col-xs-9">
                    <div class="row" style="color: {{ friend.primaryColor }}">
                        <div class="col-xs-10 friend-name">{{ friend.name }}</div>
                        <div class="col-xs-1 friend-visibility pull-right" ng-click="toggleFriend(friend); $event.stopPropagation();" tooltip-placement="bottom" uib-tooltip="Show/hide points">
                            <i ng-class="friend.toggle"></i></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 friend-place"> {{ friend.total_checkins }} checkins</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row input-box">
            <div class="col-xs-12 toggle-overall">
                <div id="toggleAll" class="btn btn-primary" ng-class="toggleClassBinding.all" ng-click="toggleAllCheckins()" uib-tooltip="Show/hide all points"></div>
            </div>
        </div>

        <div class="drawer-handle">
        	<div id="left-panel" ng-click="toggleLeftPanel()">
        	</div>
        </div>
    </div>

    <script type="text/ng-template" id="sharing.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Sharing your map to Facebook.</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Congratulations! You have successfully created your travel map. Why not share it with your friends? ;)</p>
            <p>Click "Share Now" below to share your awesome map on Facebook.</p>
            <img ng-src="{{$ctrl.snapshotUrl}}" width="100%">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.shareNow()">Share Now</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.shareCancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="stats.html">
        <div class="modal-header">
         <button class="close" ng-click="$close()"><i class="fa fa-times"></i></button>
          <h3 class="modal-title" id="modal-title">Connectr Statistics</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <uib-tabset active="activeRange" justified="true">
            <uib-tab index="$index" ng-repeat="tab in $ctrl.tabs" heading="{{tab.title}}">
              <uib-tabset active="activeFriend" vertical="true" type="pills">
                <uib-tab index="0" heading="Country">
                  <h3>Most Check-in</h3>
                  <table class="table table-hover">
                    <col width="460">
                    <col width="100">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>#Checkins</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="country in tab.data.country.most">
                        <td>{{country.country}}</td>
                        <td>{{country.visits_count}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <h3>Least Check-in</h3>
                  <table class="table table-hover">
                    <col width="460">
                    <col width="100">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>#Checkins</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="country in tab.data.country.least">
                        <td>{{country.country}}</td>
                        <td>{{country.visits_count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
                <uib-tab index="1" heading="Places">
                  <h3>Most Check-in</h3>
                  <table class="table table-hover">
                    <col width="360">
                    <col width="100">
                    <col width="100">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>#Checkins</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="place in tab.data.place.most">
                        <td>{{place.name}}</td>
                        <td>{{place.country}}</td>
                        <td>{{place.visits_count}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <h3>Least Check-in</h3>
                  <table class="table table-hover">
                    <col width="360">
                    <col width="100">
                    <col width="100">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>#Checkins</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="place in tab.data.place.least">
                        <td>{{place.name}}</td>
                        <td>{{place.country}}</td>
                        <td>{{place.visits_count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
              </uib-tabset>
            </uib-tab>
          </uib-tabset>
        </div>
    </script>

    <script type="text/ng-template" id="friend-modal.html">
        <div class="modal-body" id="modal-friends-body">
            <div>
                <img class="img-circle" ng-src="http://graph.facebook.com/{{ friend.fb_id }}/picture?height=256&width=256" style="background: {{friend.primaryColor}}">
            </div>
            <div>
                <h3 class="modal-title" id="modal-title">{{ friend.name }}</h3>
                <hr>
                <h5> {{ friend.total_checkins }} Checkins</h5>
                <hr>
                <h5 class="visitied-coutry-title"> {{ countries.length }} Countries or Regions </h5>
                <span ng-repeat="country in countries" tooltip-placement="top" uib-tooltip="{{country.split('/')[1]}}">
                    <img class="modal-flag" ng-src="../images/flags/{{country.split('/')[0]}}.svg">
                    <!-- <flag country="{{country.split('/')[0]}}" size=32></flag> -->
                </span>
            </div>
        </div>
    </script>

    <toast></toast>

    <!-- Walkthrough -->
    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector=".search-bar"
        main-caption="Click here to search for your friends."
        is-active="onboard1"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard2 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector=".user-avatar"
        main-caption="Click on the display picture to see the profile."
        is-active="onboard2"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard3 = true">
    </walkthrough>


    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector=".user-visibility"
        main-caption="Click on the eye icon to toggle their visibility."
        is-active="onboard3"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard4 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector=".profile-button"
        main-caption="Click on the profile icon to view your profile."
        is-active="onboard4"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard5 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector=".logout-button"
        main-caption="Click here to logout."
        is-active="onboard5"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard6 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#toggleAll"
        main-caption="Click here to select/deselect all points."
        is-active="onboard6"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard7 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#facebook-share"
        main-caption="Click here to share your map with your friends on Facebook."
        is-active="onboard7"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard8 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#map-control-play"
        main-caption="Click here to recount the places you have visited in street view."
        is-active="onboard8"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard9 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#stats-section"
        main-caption="Click here to see some site statistics."
        is-active="onboard9"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard10 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#left-panel"
        main-caption="Click here to close the panel."
        is-active="onboard10"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboard11 = true">
    </walkthrough>

    <walkthrough
        is-round=true
        walkthrough-type="transparency"
        focus-element-selector="#map-onboarding"
        main-caption="Click here to repeat the tutorial."
        is-active="onboard11"
        force-caption-location="BOTTOM"
        has-glow=true
        on-walkthrough-hide="onboardingDone()">
    </walkthrough>
</div>
