<div>
  <div class="navbar navbar-default" role="navigation">
    <!-- <div class="container"> -->
 <!--      <div class="navbar-header" class="md-col-12"> -->

        <div>
          <a class="navbar-brand" href="#/login">connectr</a>
        </div>

        <div>
          <button ng-click="logout()" class="pull-right">Logout</button>
          <span class="pull-right" style="padding:5px;"> {{user.name}} </span>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>

<div id="map-wrapper">
    <mapbox-gl-map></mapbox-gl-map>
</div>
